html {
  font-family: 'Balsamiq Sans', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.custom-body h2 {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.custom-body p {
  margin-bottom: 1rem;
}
